<!-- Top header start -->
<header class="top-header top-header-bg d-none d-xl-block d-lg-block d-md-block" id="top-header-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:1-8X0-666-8X88"><i class="fa fa-phone"></i>Necesitas Ayuda? +34 696 780 962 </a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>infocanadopta@gmail.com</a>
                    <!-- <a href="#" style="color:#fff;border:2px solid #fff;padding: 5px;border-radius:2px;font-size: 11px"><i class="fa fa-info-circle" aria-hidden="true"></i><b>COLABORA CON NOSOTROS</b></a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">

                <ul class="top-social-media pull-right">
                    <li>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="#" class="rss"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->