<div class="row" style="padding: 10px;">
    <div class="col-lg-12">
        <header>
            <nav class="container nav-bar" role="navigation">
                <a href="#">
                    <span><b><span style="font-size: 30px;">C</span>AN<span style="font-size: 30px;">A</span>DOPTA</b>
                    </span>
                </a>
                <!-- / Nav Menu Button -->

                <div style="float: right;">
                    <ul>
                        <li>
                            <a routerLink="/login">
                                <button type="button" class="btn btn-warning btn-sm">Iniciar Sesión</button>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
    </div>
</div>


<!-- Contact section start -->
<div class="contact-section overview-bgi">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="text-uppercase" data-animation="animated fadeInDown delay-05s">Confirmación de Registro</h2>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">

                <!-- Form content box start -->
                <div class="form-content-box2">
                    <!-- Logo-->


                    <!-- details -->
                    <div class="details">
                        <swal #modificaEmail input="email" title="Modificar Email" icon="info" [showCancelButton]="true" [confirmButtonText]="'Reenviar Email de Activación'" [inputPlaceholder]="'Introduzca su email correctamente'" [cancelButtonText]="'Cancelar'" [showCloseButton]="true">
                        </swal>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-left">
                                    <span>Bienvenido a <b>CANADOPTA</b>, está a un paso de completar su registro.<br><br><b> Hemos enviado un email a su cuenta de correo electrónico <span style=" color: #b3c211;font-weight: bold;">{{usuario.email}}</span>                                    que debería recibir en los próximos minutos para poder activar su cuenta.
                                    </b>
                                    </span><br><br>
                                    <span>Si la dirección de email especificada en el párrafo anterior no se corresponde con su dirección de email verdadera, haga click aquí para
                                           
                                         <a [swal]="modificaEmail" 
                                         (confirm)="modificarEmailyReenviar($event)"
                                         
                                         >Modificar su email</a></span><br><br>

                                    <span>Deberá abrir el email y hacer click en el enlace de activación antes de poder iniciar sesión en su cuenta de CANADOPTA</span>.<br><br>

                                    <span>Si no recibe su email de activación en breve, verifique también su carpeta de <b>SPAM</b> para asegurarse de que su sistema de correo electrónico no haya marcado nuestro
                                email como spam.</span><br><br>

                                    <span>Si le surge cualquier duda, utilice nuestro <a>Formulario de Contacto</a> y estaremos encantados de ayudarle.</span>
                            </div>

                        </div>
                        <!-- <div class="row" style="margin-top:15px">
                            <div class="col-12">

                                <button (click)="reenviarEmail()" type="button" class="btn btn-warning btn-sm">Reenviar Email de Activación</button>

                            </div>

                        </div> -->



                    </div>

                </div>
                <!-- Form content box end -->


            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="index.html#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>