<!-- Contact section start -->

<div class="row" style="padding: 10px;">
    <div class="col-lg-12">
        <header>
            <nav class="container nav-bar" role="navigation">
                <a href="#">
                    <span><b><span style="font-size: 30px;">C</span>AN<span style="font-size: 30px;">A</span>DOPTA</b>
                    </span>
                </a>
                <!-- / Nav Menu Button -->

                <div style="float: right;">
                    <ul>
                        <li>
                            <a routerLink="/prev_registro">
                                <button type="button" class="btn btn-warning btn-sm">Registrarse</button>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
    </div>
</div>

<div class="contact-section overview-bgi">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="text-uppercase" data-animation="animated fadeInDown delay-05s">Iniciar Sesion</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">

                    <!-- details -->
                    <div class="details">

                        <div class="form-group mb-4">

                            <button type="button" class="btn btn-danger bomd" style="width:100%"><i class="fa fa-google" aria-hidden="true"></i>
                                Inicia sesión con Google</button>
                        </div>
                        <!-- Name -->
                        <h5 class="mb-4" style="font-size: 15px;">O inicia sesión con tu correo eléctronico</h5>
                        <!-- Form start -->
                        <form class="form-horizontal form-material" (ngSubmit)="ingresar()" novalidate>
                            <div class="form-group">
                                <input type="email" class="input-text" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="input-text" placeholder="Contraseña">
                            </div>
                            <div class="checkbox">
                                <div class="ez-checkbox pull-left">
                                    <label>
                                            <input type="checkbox" class="ez-hide">
                                            Recuérdame
                                        </label>
                                </div>
                                <a href="forgot-password.html" class="link-not-important pull-right">Recuperar contraseña</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-md button-theme btn-block" type="submit">Entrar</button>
                            </div>
                        </form>
                        <!-- Form end -->
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>
                            Eres nuevo en Canadopta? <a  routerLink="/prev_registro">Regístrate aquí</a>
                        </span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

<!-- Full Page Search -->