 h2 {
     float: center;
     margin-top: 20px;
     color: #fff;
     margin-bottom: 0px;
     font-size: 35px;
     font-weight: 700;
     letter-spacing: normal;
 }
 
 .swal-button {
     background-color: #b3c211;
     border: 1px solid #b3c211;
 }
 
 .mensaje-validacion-form {
     margin-top: -25px;
 }
 
 .mensaje-validacion-form small {
     font-size: 11px;
 }
 
 .btn-google {
     background-color: #dc4e41;
 }
 
 .btn-google:hover {
     background-color: #bb2416;
 }